<h3>
  Tweets
  <small>({{TweetGlobe.tweetsController.count}})</small>
</h3>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr><th style="width:20%">Name</th>
    <th>Text</th>
  </tr></thead>
  <tbody id="tweets">
    {{#each TweetGlobe.tweetsController}}
      <tr>
        <td>{{name}}</td>
        <td>{{text}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
